<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="@Url.Action("Index", "Dashboard")" class="brand-link">MyApp</a>
    <div class="sidebar">
        <nav>
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Clientes")">Clientes</a></li>
            </ul>
        </nav>
    </div>
</aside>
