@model MyApp.Web.Models.ViewModels.DashboardVM
@{ ViewBag.Title = "Dashboard"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-md-4"><div class="small-box bg-info"><div class="inner"><h3>@Model.TotalClientes</h3><p>Total Clientes</p></div></div></div>
    <div class="col-md-4"><div class="small-box bg-success"><div class="inner"><h3>@Model.ClientesActivos</h3><p>Clientes Activos</p></div></div></div>
</div>
<p>Usuario dominio: <strong>@Model.UsuarioDominio</strong></p>
